.assessment-item {
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.fixed-column {
    width: 200px;
}

.status-pending,
.status-failure,
.status-success,
.status-no-test-matching-tags,
.status-no-platform-matching-tags {
    line-height: 32px;
    vertical-align: middle;
}

.status-pending {
    background: rgb(253, 223, 187);
}

.status-failure {
    background: rgb(255, 137, 137);
}

.status-success {
    background: rgb(173, 246, 173);
}

.add-assessment {
    padding: 10px;
}

.definition-tag {
    background: rgba(0, 0, 0, 0.1);
}

.name-field {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 6px;
}

.create-assessment-field {
    width: 300px;
}

.tests-column {
    flex-grow: 1;
    text-align: center;
}

.platforms-column {
    flex-grow: 1;
    text-align: center;
}

.constraint {
    background: #eee;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.constraints-box {
    display: table;
    margin: 0 0 10px 10px;
}

.add-constraint {
    text-align: center;
    font-size: 18px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    cursor: pointer;
}
