<!DOCTYPE html>
<html>
    <head>
        <title>Test runner back office</title>
        <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
        <link rel="stylesheet" type="text/css" href="/back-office/static/style/style.css"/>
    </head>
    <body>
        <% var title = 'Assessments'; %>
        <% include title.html %>
<% if(assessments.length) { %>
    <div class="table">
        <div class="table-column fixed-column">
            <div class="table-column-header assessment-item">
                Name
            </div>
            <% assessments.forEach(function(assessment) { %>
                <div class="table-item assessment-item">
                    <%= assessment.name %>
                </div>
            <% }); %>
        </div>

        <div class="table-column fixed-column">
            <div class="table-column-header assessment-item">
                Status
            </div>
            <% assessments.forEach(function(assessment) { %>
                <div class="table-item assessment-item">
                    <div class="tag status-<%= assessment.status.toLowerCase().replace(/ /g, '-') %>">
                        <%= assessment.status %>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="table-column tests-column">
            <div class="table-column-header assessment-item">
                Tests
            </div>
            <% assessments.forEach(function(assessment) { %>
                <div class="table-item tests-field">
                    <% assessment.definition.forEach(function(constraint) { %>
                    <div>
                        <%- constraint[0].split(',').map(function(tag) {return '<span class="tag definition-tag">' + tag.trim() + '</span> '}).join('') %>
                    </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>

        <div class="table-column platforms-column">
            <div class="table-column-header assessment-item">
                Platforms
            </div>
            <% assessments.forEach(function(assessment) { %>
                <div class="table-item platforms-field">
                    <% assessment.definition.forEach(function(constraint) { %>
                    <div>
                        <span>
                        <%- constraint[1].split(',').map(function(tag) {return '<span class="tag definition-tag">' + tag.trim() + '</span> '}).join('') %>
                        </span>
                    </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>
<% } %>
        </div>
        <div class="section-title">Create a new assessment</div>
        <form class="add-assessment" method="POST" action="<%= backOfficeUrl %>assessments">
            <div>
                <div class="form-label">
                    Name :
                </div>
                <input
                    class="form-text-field create-assessment-field name-field"
                    type="text"
                    name="name"
                    placeholder="Any alphanumeric value"
                    required
                    />
            </div>
            <div class="form-label">
                Required test cases :
            </div>
            <div class="constraints-box">
                <div class="constraint">
                    <div class="label-group">
                        <div class="grouped-form-label">
                            Tests :
                        </div>
                        <div class="grouped-form-label">
                            Platforms :
                        </div>
                    </div>
                    <div class="label-group">
                        <input
                            class="grouped-form-text-field create-assessment-field test-tags-input"
                            type="text"
                            name="test-tags"
                            placeholder="Coma-separated test tags"
                            required
                            />

                        <input
                            class="grouped-form-text-field create-assessment-field platform-tags-input"
                            type="text"
                            name="platform-tags"
                            placeholder="Coma-separated platform tags or 'any'"
                            required
                            />
                    </div>
                </div>
                <!--
                <div class="constraint add-constraint">
                    +
                </div>
                -->
            </div>
            <input type="submit" class="button action" id="create-assessment" value="Create"/>
        </form>

        <script type="text/javascript">
            var testTags = [<%- testTags.map(function(tag){return '"' + tag + '"';}) %>];
            var platformTags = [<%- platformTags.map(function(tag){return '"' + tag + '"';}) %>];
        </script>
        <script type="text/javascript" src="/back-office/static/src/ui.js"></script>
    </body>
</html>
